/****** Script for SelectTopNRows command from SSMS  ******/
SELECT distinct-- [LSOA code (2011)]
      --,[LSOA name (2011)]
      --,[Local Authority District code (2013)]
      [Local Authority District name (2013)]
      ,avg(cast([Index of Multiple Deprivation (IMD) Score] as float)) over (partition by [Local Authority District name (2013)])
      --,[Index of Multiple Deprivation (IMD) Rank (where 1 is most deprived)]
FROM [Uber].[dbo].[Deprivation2]  
 Where [Local Authority District name (2013)] in ('Bangor',
'Bath and North East Somerset'
,'Birmingham'
,'Bradford'
,'Brighton and Hove'
,'Bristol, City of'
,'Cambridge'
,'Canterbury'
,'Cardiff'
,'Carlisle'
,'Chelmsford'
,'Cheshire West and Chester'
,'Chichester'
,'Coventry'
,'Derby'
,'County Durham'
,'East Cambridgeshire'
,'Exeter'
,'Gloucester'
,'Herefordshire, County of'
,'Kingston upon Hull, City of'
,'Lancaster'
,'Leeds'
,'Leicester'
,'Lichfield'
,'Lincoln'
,'Liverpool'
,'London'
,'Manchester'
,'Newcastle upon Tyne'
,'Newport'
,'Norwich'
,'Nottingham'
,'Oxford'
,'Peterborough'
,'Plymouth'
,'Portsmouth'
,'Preston'

,'St Albans'
,'St Asaph'
,'Salford'
,'St David''s'
,'Salisbury'
,'Sheffield'
,'Southampton'
,'Stoke-on-Trent'
,'Sunderland'
,'Swansea'
,'Truro'
,'Wakefield'
,'Wells'
,'Winchester'
,'Wolverhampton'
,'Worcester'
,'York')

group by [Local Authority District name (2013)], [Index of Multiple Deprivation (IMD) Score]

select distinct [Local Authority District name (2013)]
 FROM [Uber].[dbo].[Deprivation2]
  Where [Local Authority District name (2013)] in ('Bangor',
'Bath and North East Somerset'
,'Birmingham'
,'Bradford'
,'Brighton and Hove'
,'Bristol, City of'
,'Cambridge'
,'Canterbury'
,'Cardiff'
,'Carlisle'
,'Chelmsford'
,'Cheshire West and Chester'
,'Chichester'
,'Coventry'
,'Derby'
,'County Durham'
,'East Cambridgeshire'
,'Exeter'
,'Gloucester'
,'Herefordshire, County of'
,'Kingston upon Hull, City of'
,'Lancaster'
,'Leeds'
,'Leicester'
,'Lichfield'
,'Lincoln'
,'Liverpool'
,'London'
,'Manchester'
,'Newcastle upon Tyne'
,'Newport'
,'Norwich'
,'Nottingham'
,'Oxford'
,'Peterborough'
,'Plymouth'
,'Portsmouth'
,'Preston'

,'St Albans'
,'St Asaph'
,'Salford'
,'St David''s'
,'Salisbury'
,'Sheffield'
,'Southampton'
,'Stoke-on-Trent'
,'Sunderland'
,'Swansea'
,'Truro'
,'Wakefield'
,'Wells'
,'Winchester'
,'Wolverhampton'
,'Worcester'
,'York')
or [Local Authority District name (2013)] like 'Harrogate%'
or [Local Authority District name (2013)] like '%Truro%'
or [Local Authority District name (2013)] like '%Ely%'

 --elect distinct [Local Authority District name (2013)] FROM [Uber].[dbo].[Deprivation2]

 select distinct [Local Authority District name (2013)]
 FROM [Uber].[dbo].[Deprivation2]
  Where [Local Authority District name (2013)] in ('Bangor',
'Bath and North East Somerset'
,'Birmingham'
,'Bradford'
,'Brighton and Hove'
,'Bristol, City of'
,'Cambridge'
,'Cardiff'
,'Carlisle'
,'Chelmsford'
,'Cheshire West and Chester'
,'Chichester'
,'Coventry'
,'Derby'
,'County Durham'
,'East Cambridgeshire'
,'Exeter'
,'Gloucester'
,'Herefordshire, County of'
,'Kingston upon Hull, City of'
,'Lancaster'
,'Leeds'
,'Leicester'
,'Lichfield'
,'Lincoln'
,'Liverpool'
,'London'
,'Manchester'
,'Newcastle upon Tyne'
,'Newport'
,'Norwich'
,'Nottingham'
,'Oxford'
,'Peterborough'
,'Plymouth'
,'Portsmouth'
,'Preston'

,'St Albans'
,'St Asaph'
,'Salford'
,'St David''s'
,'Salisbury'
,'Sheffield'
,'Southampton'
,'Stoke-on-Trent'
,'Sunderland'
,'Swansea'
,'Truro'
,'Wakefield'
,'Wells'
,'Winchester'
,'Wolverhampton'
,'Worcester'
,'York')
or [Local Authority District name (2013)] like 'Harrogate%'
or [Local Authority District name (2013)] like '%Truro%'
or [Local Authority District name (2013)] like '%Ely%'